:root {
  --primary-text-color: #2e2f42;
  --primary-white-color: #ffffff;
  --main-light-color: #404bbf;
  --main-font-color: #434455;
  --accent-color: #4d5ae5;
  --secondary-font-color: #e7e9fc;
  --secondory-accent-color: #f4f4fd;
}
body {
  font-family: Roboto;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 16px;
}
/* module3 */

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.container {
  border: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
/* index;html */
.hero-funcione {
  padding-top: 188px;
}
.hero-funcione > h1 {
  width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.hero-funcione > button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 187px;
  padding-left: 30px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
}

/* mainitem */
.section {
  padding-top: 120px;
  margin: 0px;
}
.informacion {
  margin-right: -24px;
  padding: 0px;
}
.informacion-item {
  max-width: 100%;
}

.informacion-item {
  flex-basis: calc(100% / 4 - 24px);
  margin-right: 24px;
  padding: 0px;

  border: 1px solid tomato;
}

/* img */
.section-title {
  margin-bottom: 72px;
}
.title-text {
  margin-top: 120px;
}

.img-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;

  border: 1px solid tomato;
}
.img-item:nth-child(3n) {
  margin-right: 0px;
}
/* werk */
.werk {
  margin-left: -24px;

  padding: 0px;
}
.werk-item {
  flex-basis: calc(100% / 4 - 24px);

  margin-left: 24px;
  margin-bottom: 120px;
  border: 1px solid tomato;
}
.werk-item > img {
  max-width: 100%;
}
/* .werk-item:last-child {
  margin-right: 0px;
} */

/* services  main*/
.services {
  margin-top: 76px;
}

.services-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;

  border: 1px solid tomato;
}
.services-item :nth-child(3n) {
  margin-right: 0px;
}
.services-item:nth-last-child(-n + 3) {
  margin-bottom: 96px;
}
.services-item > h2 {
  margin-top: 32px;
  margin-left: 16px;
}
.services-item > p {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
/* HEDEAR */
.cursor {
  cursor: pointer;
}
.logo {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

.logo-part {
  color: var(--primary-text-color);
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-light-color);
}
.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-font-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--main-light-color);
}
/* MAIN */
.hero {
  background-color: var(--primary-text-color);
  height: 600px;
}
.hero-title {
  padding: auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.hero-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-but:hover {
  background-color: var(--main-light-color);
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* MAIN PORTFOLIO  */
/* but */

.list-but:hover,
.list-but:focus {
  color: var(--secondory-accent-color);
  background-color: var(--main-light-color);
}

.but:hover {
  color: var(--primary-white-color);
}

/* MAIN SERVICE */

.services-naam {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}
.services-specifics {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
/* footer */
.foot {
  height: 312px;
  background-color: var(--primary-text-color);
}

.logo-part-foot {
  color: var(--secondory-accent-color);
}
.foot-info {
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  width: 264px;
  height: 72px;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.footer {
  padding-top: 124px;
  padding-bottom: 76px;
  padding-left: 15px;
  padding-right: 1005px;
}
