:root {
  --primary-text-color: #2e2f42;
  --primary-white-color: #ffffff;
  --main-light-color: #404bbf;
  --main-font-color: #434455;
  --accent-color: #4d5ae5;
  --secondary-font-color: #e7e9fc;
  --secondory-accent-color: #f4f4fd;
}
body {
  font-family: Roboto;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 16px;
}
/* module3 */

h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  margin: 0px;
}

.logo {
  margin-right: 76px;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 15px; */
  flex-direction: row;

  height: 72px;

  gap: 332px;
}
.head-item {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;

  width: 261px;
  height: 24px;
  gap: 40px;
}
.contact {
  display: flex;

  width: 350px;
  height: 24px;
  gap: 40px;
}

.hero-text {
  display: block;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 188px;
}
.hero-title {
  width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text > button {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text > button {
  margin-bottom: 188px;
  width: 169px;
  height: 56px;
}
.hero-but-text {
  margin-left: auto;
  margin-right: auto;
}
.informacion {
  display: flex;
  justify-content: space-between;
}
.informacion > li {
  width: 264px;
  padding: 0px;
}
.section-subtitle {
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 76px;
}
.img {
  display: flex;
  justify-content: space-between;

  padding: 0px;
}
/* img */

.section-title {
  margin-bottom: 72px;
}
.title-text {
  margin-top: 120px;
}

.werk {
  display: flex;
  justify-content: space-between;
}
.werk-item {
  margin-bottom: 120px;
  width: 264px;
}
.werk-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-top: 32px;
}
.footer {
  display: block;

  width: 264px;
  padding-top: 100px;
}
.footer > a {
  margin-bottom: 16px;
}
.footer > p {
  margin-top: 16px;
}
/* PORTFOLIO */
.but {
  display: flex;
  justify-content: center;
}
.but > li {
  margin-right: 24px;
}
.batton {
  padding-top: 96px;
  margin-bottom: 72px;
}
/* .about {
  padding-top: 96px;
} */

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.services-item {
  flex-basis: calc((100% - 48px) / 3);
  width: 24px;
  margin-bottom: 48px;
}
.services-item:nth-last-child(-n + 3) {
  margin-bottom: 96px;
}
.services-item > h2 {
  margin-top: 32px;
  margin-left: 16px;
}
.services-item > p {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
}

/* index;html */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
/* HEDEAR */
.cursor {
  cursor: pointer;
}
.logo {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

.logo-part {
  color: var(--primary-text-color);
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-light-color);
}
.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-font-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--main-light-color);
}
/* MAIN */
.hero {
  background-color: var(--primary-text-color);
  height: 600px;
}
.hero-title {
  padding: auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.hero-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-but:hover {
  background-color: var(--main-light-color);
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* MAIN PORTFOLIO  */
/* but */

.list-but:hover,
.list-but:focus {
  color: var(--secondory-accent-color);
  background-color: var(--main-light-color);
}
.list-but {
  color: var(--accent-color);
}

.but:hover {
  color: var(--primary-white-color);
}

/* MAIN SERVICE */

.services-naam {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}
.services-specifics {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
/* footer */
.foot {
  height: 312px;
  background-color: var(--primary-text-color);
}

.logo-part-foot {
  color: var(--secondory-accent-color);
}
.foot-info {
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
